/* ======= Banner ======= */
.banner {
  text-align: center;
  background-color: var(--bg-color);
  padding: 20px 0;
}

.banner img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dots {
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #999;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #333333;
}